.modal-bg{
    width:100vw;
    height:100vh;
    background-color:rgba(200,200,200);
    position:fixed;
    display:flex;
    justify-content: center;
    align-items:center;
}

.modal-wrapper{
    width:400px;
    height:400px;
    background-color: var(--sec-txt-color);
    
}