.watch-later-section{
    width: 100%;
    align-items: center;
    display: flex;
    padding-bottom: 1.5rem;
    gap: 20px;
    flex-direction: column;
}

.center h1{
    color:var(--cta-color);
    text-align: center;
}

.sec-clr{
    text-align: center;
    color:var(--sec-txt-color);
}