body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--secondary-color);
}

:root{
  --secondary-color:#0D2424;
  --bg-color:#082222cc;
  --cta-color:#9Bffff;
  --hue-color:#00ffff;
  --primary-txt-color:#ffff;
  --sec-txt-color:#94a5a5;
}
