@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&family=Rubik+Glitch&display=swap');

body {
  margin: 0;
  font-family:'Manrope', sans-serif;
  background-color:var(--secondary-color);
}

:root{
  --secondary-color:#0D2424;
  --bg-color:#082222cc;
  --cta-color:#9Bffff;
  --hue-color:#00ffff;
  --primary-txt-color:#ffff;
  --sec-txt-color:#94a5a5;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:var(--bg-color); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--hue-color); 
}



/* font-family: 'Manrope', sans-serif;
font-family: 'Rubik Glitch', cursive; */