.detail-section {
  display: flex;
  justify-content: space-between;
}

.detail-section .avatar-box {
  display: flex;
  gap: 20px;
  align-items: center;
}

.avatar-box h1 {
  color: var(--cta-color);
}

.avatar-box p{
    color:var(--primary-txt-color);
}

.btn-cont{
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn-cont .pri-btn{
    background: #f24d4d;
    color: var(--primary-txt-color);
    min-width: 106px;
    padding: 0.5rem;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 7px 4px var(--bg-color);
}
.btn-cont .remove-like{
  background:var(--primary-txt-color);
  color:#f24d4d;
}
.video-name{
    margin-left:20px;
}


.btn-cont .sec-button{
  width: 110px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding:0.5rem;
  background: #1c2f2f;
  color: var(--sec-txt-color);
  border: none;
  box-shadow: 0px 0px 7px 4px var(--bg-color);
}
.btn-cont .remove-watch{
  background-color: var(--sec-txt-color);
  color: #1c2f2f;
}