form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name-info{
    padding: 0.3rem;
    border: 1px solid var(--sec-txt-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    color: var(--primary-txt-color);
    border-radius: 10px;
}

.detail-box{
    display: flex;
    gap: 20px;
}

.detail-box .name-info{
    width:200px;
}
.name-info i{
    color: var(--sec-txt-color);
}
.name-info span{
    display: flex;
    flex-direction: column;
}

.name-info span label{
color:var(--sec-txt-color);
font-size:10px;

}
.name-info span input{
    background: transparent;
    border: none;
    width: auto;
}

input:focus{
    outline: none;
    font-weight: bold;
    width: auto;
    color:var(--primary-txt-color);
    background:transparent;
}


.button-cont{
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}
