.signupBg{
    background-image: linear-gradient(to left, #eeeeee00 47%, #0d2424 114%),url('./../../assets/img/aurora.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height:100vh;
}

.login-nav{
    align-self: flex-end;
    display: flex;
    margin-right: 44px;
    padding: 1rem;
    font-size: 18px;
    color: var(--primary-txt-color);
    gap: 20px; 
}

.main-layout{
    margin-left: 317px;
    overflow: hidden;
}

.auth-layout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100%;
    margin-left:15rem;
  
}

.auth-layout .vaspacx{
    font-size:70px;
}